$deep-jade: #199668; 
$forest-green: #0e3502 ; 
$icon-base-color: rgb(208, 207, 189) ; 
$icon-hover-color: white ; 
$text-contrast-for-blanchedAlmond: #4d4944;

$nightBlue: rgba(0,30,87,1);
$duskPurple:rgba(0,30,87,1);
$dawnBlue: rgba(1,84,164,1) ;
// ---------------------Landing Page---------------------------
// seperated from main App.scss so that it gets loaded first 

 
.landing-page{
    transition: opacity 2s ease-out;
    color: $text-contrast-for-blanchedAlmond;
    font-size: large;
    font-weight: 500;
  }
  
  .first-section{
    background-image: url('../assets/map.png'), linear-gradient(180deg, blanchedalmond 0%, antiquewhite 100%);
    background-size:contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
  
  }

  
  .left-line{
    border-left: 5px solid ;
    border-image: linear-gradient(181deg, $forest-green, $deep-jade) 30;
  }

  