$deep-jade: #199668; 
$forest-green: #0e3502 ; 
$icon-base-color: rgb(208, 207, 189) ; 
$icon-hover-color: white ; 
$text-contrast-for-blanchedAlmond: #4d4944;

$nightBlue: rgba(0,30,87,1);
$duskPurple:rgba(0,30,87,1);
$dawnBlue: rgba(1,84,164,1) ;

@font-face {
    font-family: Jost;
    // src: url('./assets/fonts/roboto/Roboto-Bold.ttf');
    src:url('./assets/fonts/allover-modern-demo/ALLOVER\ MODERN\ DEMO.ttf')
}

@font-face{
  font-family: landingPage-text;
  src: url('./assets/fonts/Newsreader/Newsreader-VariableFont_opsz\,wght.ttf')
}

.App{
  overflow: hidden;
  background-color: #263144;
}
// -------------------- Header Design--------------------------
.app-header{
  width:100%;
  height:350px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Jost;
  transition: all .5s ease-in-out;
}

.app-header.landing{
  background-color: $deep-jade;
  background: linear-gradient(90deg, $deep-jade  0%, $forest-green 100%);
  transition: all 2s ease-in-out;

}

.app-header.author-header{
  position: absolute ;
  top:0;
  background: rgb(0,30,87);
  background: linear-gradient(90deg, #062b4a 0% ,  #000B0E   100%);
  transition: all 2s ease-in-out;

}

.app-header.family-tree-index{
  position: absolute ;
  top:0;
  background: rgb(0,30,87);
  background: linear-gradient(180deg, rgba(0,30,87,1) 0%, rgba(89,1,151,1) 69%, blue 100%);
  transition: all 2s ease-in-out;
}

.app-header.chapters-header{
  position: absolute ;
  top:0;
  background: rgb(87, 0, 67);
  background: linear-gradient(90deg, rgb(9 5 5) 0%, rgb(151, 1, 59) 50%, rgb(125 56 119) 100%);
  transition: all 2s ease-in-out;

}

.app-header.history-header{
  position: absolute ;
  top:0;
  transition: all 2s ease-in-out;
  background-color: #ffbd77;
  background-image: linear-gradient(270deg, #ffbd77 0%, #f0f4a4 37%, #acfcd9 100%);
  color:black 
}

.history-header h1{

  padding-left: 5px;
  color: black !important;

}

.history-header p{
  color:black !important;
}







 // note the headers needs to be positions absolute except the first one

.app-header h1{
  padding-left: 5px;
  color: blanchedalmond;
}
.app-header p{
  margin-left:0px ; 
  color: antiquewhite;
  font-style: italic;
  font-weight: lighter;
}

.active-header{
  opacity: 1;
}


// ---------------------Landing Page---------------------------

.landing-page{
  font-family: landingPage-text;
  color: $text-contrast-for-blanchedAlmond;
  font-size: large;
  font-weight: 500;
}

.first-section{
  background-image: url('./assets/map.png'), linear-gradient(180deg, blanchedalmond 0%, antiquewhite 100%);
  background-size:contain;
  background-repeat: no-repeat;
  background-position-y: bottom;

}
.about-the-author.frame{
  background-clip: content-box, border-box;
  // background-image: linear-gradient(beige,beige), linear-gradient(0deg, $deep-jade, $forest-green);
  background-image: linear-gradient(beige, beige), linear-gradient(0deg, #4d4944, #a09990);
  background-origin: border-box;
  border: 6px double #0000;
  text-align: center;
  padding: 0px;
  
  border-radius: 10px;

}

.about-the-author{
  transform: translateY(-70px) translateX(-10px);
}

.frame{
  background-clip: content-box, border-box;
  background-image: linear-gradient(beige, beige), linear-gradient(0deg, #199668, #0e3502);
  background-origin: border-box;
  border: 10px double rgba(0, 0, 0, 0);
  text-align: center;
  padding: 0px;
  border-radius: 10px;
}

.frame h1{
  margin-top: 78px;
  margin-left: 10px;
}
.frame p{
  margin: 1em;
  text-align: left;

}

.left-line{
  border-left: 5px solid ;
  border-image: linear-gradient(181deg, $forest-green, $deep-jade) 30;
}

//--------------------- nav buttons on landing page

.icon-set{
  background-color: $icon-base-color;
  width:75px; 
  height: 75px;
  border-radius: 100%;
  margin-bottom: 1.3em;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center; 
  border:1px solid white; 
  box-shadow: 4px 6px 10px;
  z-index:15;
  color: $text-contrast-for-blanchedAlmond;
   
 
}

a.icon-set:hov{

  background: red !important ; 

  
}

.family-tree{
  background-image: url('./assets/icons/familyTree.png');
 

}

.author{
  background-image: url('./assets/icons/athuor.png');
  background-size: 42%;

}

.chapters-link{
  background-image: url('./assets/icons/book.png');
  background-size: 50%;

}

.context-section{
  transform: translate(168px, -653px);
}

.rail-road-history-section{
  background: linear-gradient(45deg, blue, #7938aa);
}

.rail-road-history-section{
  color:aliceblue
}


//------------------Shape Divders For Header--------------------

.custom-shape-divider-top-1713657617 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: translateX(0px) rotate(180deg);
  transition: opacity 2s ease-in-out;
}
.custom-shape-divider-top-1713657617 svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
}

// -- shape-divider for tree index page

  // .custom-shape-divider-top-1713657617.tree-index{
  //   background-image: linear-gradient(360deg, #163fa0, #c26d6d);
   
  // }

  .custom-shape-divider-top-1713657617.tree-divider{
    
    fill: white;
    background: linear-gradient(0deg, blue  0% , red 100%);
    position: absolute;

  }

  // ----shape-divider for landing-page

  .custom-shape-divider-top-1713657617.landing-divider{
    background: linear-gradient(90deg, $forest-green  0%, $deep-jade 100%);
  }

  .custom-shape-divider-bottom-1714357161{
    fill:blanchedalmond;
  }
  
  .custom-shape-divider-top-1713657617 .shape-fill {
    fill: white;
    background: linear-gradient(90deg, $deep-jade  0%, $forest-green 100%);
  }

  // ------shape-divider for author page

  .custom-shape-divider-top-1713657617.author-divider{
    position: absolute;
    background: linear-gradient(90deg, #000B0E  0%, #062b4a 100%);
  }

  //-------shape-divider for chapters page

  .custom-shape-divider-top-1713657617.chapters-divider{
    position:absolute;
    background: linear-gradient(90deg, rgb(125, 56, 119) 0%, rgb(151, 1, 59) 50%, rgb(9, 5, 5) 100%)
  }

  // note the last divider needs to be position relative and all others position absolute

  .custom-shape-divider-top-1713657617.history-divider{
    position:relative;
    background-color: #acfcd9;
    background-image: linear-gradient(270deg, #acfcd9 0%, #f0f4a4 63%, #ffbd77 100%);
  }




  

//---------------------------------- family tree index page

.family-tree-index-page{
  // background-color: blanchedalmond;
  background-color: #263144 ; ;
  color:blanchedalmond;
}

// .family-tree-index-page h1{
//   margin-top:  calc(1.375rem + 1.5vw);;
// }

.ancestor-card{

  background-color: #9ea7c030;
  border-radius: 15px;
  overflow: hidden;
  height: 170px;
  transition: all .5s ease-in;
  

}

.ancestor-card:hover{
  border: 1px solid whitesmoke;
  background-color: #263144 ;
}

.person-container{
  width: 170px;
  
}

// -------------------------------------ancestor page -------------------

.ancestor-page{
  min-height: 100vh;
  color:blanchedalmond;
  padding-bottom:200px;
}

.timeline-connector{ 

  width:176px;
  border:1px solid
}

.view-box{
  transition: transform 2s ease-in-out;
  display: flex;
    // overflow-x: hidden;
    flex-wrap: nowrap;
}

.timeline-container{

    display: flex;
    overflow-x: hidden;
    flex-wrap: nowrap;
    transition: transform 2s ease-in-out;

    
}
.year-marker{

  width:2px ; 
  height:10px ; 
  background-color: blanchedalmond;
  // border: 1px solid blanchedalmond ; 
  // border-radius: 100%;
}

.ancestor-detail{

  // width:300px ; 
  border: 1px solid ; 
  border-radius: 13px;
  margin-top:2em;
}

.animated-numbers{
  display: flex;
  justify-content: center;
  height:60px;
}

.tree-container{
  overflow: hidden;
  min-height:500px;
  max-height: 50vh;  
  border-width: 4px;
  border-style: solid;
  scrollbar-width: 10px;
  scrollbar-color: white;
  border: 1px solid ; 
  border-radius: 15px;
 
}

//---------------------------------- animated number line

.center-line{
  width: 1px;
  height: 30px;
  background: red;
  position: relative;
  top:-15px;
}

.loader{
  position: relative;
  width: 50%;
  height: 4px;
  background-color: black;
  top:-33px;
}

.loader::before{
  content: ' ';
  position: absolute;
  width: 100%; ; 
  height: 100% ; 
  background: #e8f096;
  transform-origin: left;
  box-shadow: 1px 0px 6px 0px;
  // animation: animate 8s linear infinite ;  
}

@keyframes animate {
  0%,20%
  {
    transform: scaleX(0);

  }
  40%
  {

    transform: scaleX(1);
    transform-origin: left;
  }
  40.0000001%,60%
  {
    transform: scaleX(1);
    transform-origin: right;
  }
  80%,100%
  {
    transform: scaleX(0);
    transform-origin: right;
  }

}

.loader::after{
  content: '' ; 
  position:absolute;
  top: 50%; 
  left:calc(100% - 5px);
  transform: translateY(-50%) ; 
  width: 10px ; 
  height: 10px ; 
  background: #e8f096;
  border-radius:50% ; 
  animation: animateDot 2s linear infinite ; 

}

@keyframes animateDot
{
  0%
  {
    transform: translateY(-50%)scale(0) 
    

  }
  5%
  {
    transform: translateY(-50%)scale(1)
    // transform: scale(1)

  }  
  15%,20%
  {
    transform: translateY(-50%) scale(1);
    // transform: scale(1);
    // dark green
    // box-shadow: 0 0 0 4px #0bec7c22,
    box-shadow: 0 0 0 4px #ced862,
    // dark green
    // 0 0 0 10px #0bec7c22, 
     0 0 0 10px #ced862,
    // lighter green
    0 0 20px #0bec7c, 
    0 0 40px 5px #0bec7c,
    0 0 60px 10px #0bec7c ; 
  }
  40%
  {
    transform: translateY(-50%) scale(1)
    //  translateX(50%)
    

  }
  80%
  {
    transform: translateY(-50%) scale(1) ;
    // translateX(50%);
    // translateX(395px);
    box-shadow: 0 0 0 4px #0bec7c22,
    0 0 0 10px #0bec7c22, 
    0 0 20px #0bec7c, 
    0 0 40px 5px #0bec7c,
    0 0 60px 10px #0bec7c ; 

  }
  95%
  {
    transform:translateY(-50%) scale(1) ;
    // translateX(50%);
    // translateX(395px);
    box-shadow: none;
  }
  100%
  {
    transform: translateY(-50%)scale(0) ;
    // translateX(50%);
    // translateX(395px)

  }


}


.mask-left{
  position:absolute;
  width:75px;
  height:550px ;   
  left:0px;
  // backdrop-filter: blur(10px) ;
  
}

.mask-right{
  position: absolute;
  width:75px ;    
  right: 0px;
  height: 550px;
  // backdrop-filter: blur(10px) ;
}

.mask-top{
  position: absolute;
  left:0px ; 
  width: 100vw ; 
  height:50px ; 
  // backdrop-filter: blur(10px) ;
}

.mask-bottom{
  position: absolute;
  left:0px ; 
  width:100vw; 
  height:50px ; 
  // backdrop-filter: blur(10px) ;
}

.svg-chart-container{
  background-image: radial-gradient(circle at center, #062b4a  0, #000B0E 100%)  ;
  // background-image: ("https://raw.githubusercontent.com/bumbeishvili/coronavirus.davidb.dev/master/glow.png") ;
}

// --------------Author Page----------------


.author-page{
  min-height: 100vh;
  background:#091e2f;
  color: #8795a1;  font-family: landingPage-text;
  opacity:0 ; 
  transition: opacity 2s ease-out;
  
}

.author-page h1{
  font-weight: 300;
  font-size:90px;
  color: #4d2893;
}
 
.author-page h2{
  font-weight:350 ; 
  font-size:30px

}
// =============================== Chapters page ==============================================

.chapters-page{

  min-height: 100vh;
  background:#14151a;
  color: blanchedalmond;
  font-family: landingPage-text;
  opacity:0 ; 
  transition: opacity 2s ease-out;
  background-image: url('./assets/railRoadTracks2.png');    
  background-repeat: repeat-y;
  overflow: hidden;
  position: relative;
}


.chapters-main-image{

  transform: perspective(10px) translateZ(-5px) scale(1.5);
  // position: absolute;
  object-fit: contain;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  border-radius: 10px;
  z-index: 100;
  position: relative;
  // border: 1px solid #472d2d;
  // box-shadow: #181827 0px 6px 6px 1px;
}

.chapters-description{
  background-image: linear-gradient(90deg, rgb(13 13 13) 0%, rgb(34 38 53 / 51%) 100%);
  border: 1px solid #472d2d;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  z-index: 100;
  box-shadow: #181827 0px 6px 6px 1px;

}

.rail-road-workers{
  object-fit: contain;
  transform:   perspective(10px) (-30px) scale(3);
  position: absolute;
}

.section{ 

  transform-style: preserve-3d;
  position: relative;
  z-index: 100;
}

// for spacing in between sections in chapters page
.buffer{
height: 250px; 
// background-color: #333;
}

.birds, .trees_forground{
  position: relative;
}

.chapter-description-container{
  position: relative;
  z-index: 100;
  display:flex;
  justify-content: center;
  align-items: center;
}

.firstRow-container-for-parallax{
  position:absolute;
  height:200px;
  width:100%;
  left:0px;
}

.first_layer-parrallax-image{
  margin:10px;
  transition: all .3s ease-out;
}

.secondary-parallax-image{
  margin:10px;  
  transition: all .3s ease-out;
}


// ===================================History Page=======================================


.history-page{

  background:#babad2;
  color: #2e2f37;
  font-family: landingPage-text;
  opacity:0 ; 
  transition: opacity 2s ease-out;
  background-image: url('./assets/railRoadTracks2.png');    
  background-repeat: repeat-y;
  overflow: hidden;
  position: relative;
}

.events-description{
  
  background-image:linear-gradient(315deg, #6f5e8bfc 0%, #9c9cc1 74%);
  // border: 1px solid #472d2d;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  z-index: 100;
  // box-shadow: #181827 0px 6px 6px 1px;
  color:#160226;
  font-size: 18px;

}